<!-- Carousel start -->
<div class="contain-fluid">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        data-bs-interval="10000"
        *ngFor="let banner of bannerApiData; let i = index"
        [ngClass]="{ active: i === 1 }"
      >
        <img
          src="https://image.tmdb.org/t/p/original/{{ banner.backdrop_path }}"
          class="d-block w-100"
          alt="banner"
        />
        <div class="carousel-caption d-none d-md-block">
          <h2>{{ banner.original_title }}</h2>
          <p>{{ banner.overview }}</p>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel end -->
<div class="contain-fluid mt-3 mb-5 p-4">
  <!-- trendind Movies -->

  <div class="row">
    <h5 class="text-white">Trending Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let trending of trendingMovieData">
        <img
          src="https://image.tmdb.org/t/p/original/{{ trending.poster_path }}"
          class="rowimg largeposter"
          [routerLink]="['/movie', trending.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- action Movies -->

  <div class="row">
    <h5 class="text-white">Adventure Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let action of actionMovieData">
        <img
          src="https://image.tmdb.org/t/p/original/{{ action.poster_path }}"
          class="rowimg largeposter"
          [routerLink]="['/movie', action.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- adventure Movies -->
  <div class="row">
    <h5 class="text-white">Action Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let adventure of adventureMovieData">
        <img
          src="https://image.tmdb.org/t/p/original/{{ adventure.poster_path }}"
          class="rowimg largeposter"
          [routerLink]="['/movie', adventure.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- animation Movies -->
  <div class="row">
    <h5 class="text-white">Animation Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let animation of animationMovieData">
        <img
          src="https://image.tmdb.org/t/p/original/{{ animation.poster_path }}"
          class="rowimg largeposter"
          [routerLink]="['/movie', animation.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- comedy Movies -->
  <div class="row">
    <h5 class="text-white">Comedy Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let comedy of comedyMovieData">
        <img
          src="https://image.tmdb.org/t/p/original/{{ comedy.poster_path }}"
          class="rowimg largeposter"
          [routerLink]="['/movie', comedy.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- documentary Movies -->
  <div class="row">
    <h5 class="text-white">Documentary Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let documentary of documentaryMovieData">
        <img
          src="https://image.tmdb.org/t/p/original/{{
            documentary.poster_path
          }}"
          class="rowimg largeposter"
          [routerLink]="['/movie', documentary.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- Science fiction Movies -->
  <div class="row">
    <h5 class="text-white">Science fiction Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let sciencefiction of fictionMovieData">
        <img
          src="https://image.tmdb.org/t/p/original/{{
            sciencefiction.poster_path
          }}"
          class="rowimg largeposter"
          [routerLink]="['/movie', sciencefiction.id]"
        />
      </ng-container>
    </div>
  </div>

  <!-- Thriller Movies -->
  <div class="row">
    <h5 class="text-white">Thriller Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let thriller of thrillerMovieData">
        <img
          src="https://image.tmdb.org/t/p/original/{{ thriller.poster_path }}"
          class="rowimg largeposter"
          [routerLink]="['/movie', thriller.id]"
        />
      </ng-container>
    </div>
  </div>
</div>
